
html{
    
    background-color: rgb(62, 62, 62); 
    color: white;
}

body{

    margin:0;
}

div{

    
    box-sizing: border-box;
}

#navbar{

    height: 50px;
    font-size: large;
    font-family: Helvetica
}

#flex{

    display: flex;
    height: calc(100vh - 50px);
}

#sidebar{

    width:30%;
    font-size: large;
    font-family: Helvetica
}

#main{
    width:70%;
    font-size: large;
    font-family: Helvetica

}

.container{

    border-style: dotted;
    border-color: white;
    border-width: 1px;

}